<launch>

	<!-- acquisition arguments -->
	<arg name="plugin" default='rosneuro::EGDDevice'/>
	<arg name="devarg" />
	<arg name="framerate" default='16'/>
	<arg name="samplerate" default='512'/>
	
	<!-- recorder arguments -->
	<arg name="autostart" default="true"/>
	<arg name="filepath"  default=""/>
	<arg name="filename"  default=""/>

	<!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen" required="true">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate" value="$(arg samplerate)"/>
  	  <param name="~framerate"  value="$(arg framerate)"/>
  	</node>

	<!-- Recorder node -->
	<node pkg="rosneuro_recorder" type="recorder" name="recorder" output="screen" required="true">
		<rosparam param="autostart" subst_value="True">$(arg autostart)</rosparam>
		<rosparam param="filepath" subst_value="True">$(arg filepath)</rosparam>
		<rosparam param="filename" subst_value="True">$(arg filename)</rosparam>
	</node>
</launch>
